n8n/shorty-job-status.json
{
  "name": "Shorty Job Status",
  "nodes": [
    {
      "parameters": {
        "path": "shorty-job-status",
        "httpMethod": "GET",
        "responseMode": "responseNode"
      },
      "id": "status-webhook",
      "name": "Status Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SHORTY_SERVICE_URL + '/api/jobs/' + $json.query.jobId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-shorty-token",
              "value": "={{$env.SHORTY_ADMIN_TOKEN}}"
            }
          ]
        }
      },
      "id": "fetch-job",
      "name": "Fetch Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-status",
      "name": "Respond Status",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        820,
        280
      ]
    }
  ],
  "connections": {
    "Status Webhook": {
      "main": [
        [
          {
            "node": "Fetch Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job": {
      "main": [
        [
          {
            "node": "Respond Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "versionId": "shorty-job-status-v1"
}
